body {
    background: teal;
    color: white;
}

.app {
    margin-top: 10%;
    text-align: center;
}

#output {
    width: 300px;
    word-wrap: break-word;
    margin: 0 auto;
    margin-bottom: 2%;
}

button {
    margin-right: 10px;
}

.heading {
    font-weight: bold;
}